<div class="add_coffee" >

  <h1><%= @coffeeshop.name %></h1>

  <h2><%= @coffeeshop.address %></h2>

  <h2><%= @coffeeshop.phone_number %></h2>

</div>  

<nav id="add_coffee"><%= link_to 'Add a Coffee Type', new_coffee_shop_coffee_type_path(@coffeeshop) %></nav>

<% @coffeeshop.coffee_types.each do |coffeetype| %>
 <p><%= coffeetype.name %></p> 
 <p><%= coffeetype.origin %></p> 
 <p><%= coffeetype.price %></p> 
<% end %>

<nav id="add_review"><%= link_to 'Add a Review', new_coffee_shop_review_path(@coffeeshop) %></nav>

<% @coffeeshop.reviews.each do |review| %>
  <p><%= review.review %></p>
<% end %>







