<div id="search-bar">
  <div id="search">
    <%= form_tag("/search", method: :get) do %>
      <!-- <%= label_tag(:q, "Search for great Coffee!") %> -->
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
      <%= label_tag %>
    <% end %>
  </div>
  <h2>See Recent Coffee Shop Additions!...</h2>
  <i class="fa fa-chevron-down fa-6" id="scroll-down"></i>
</div>

<div id="coffeeshop-list">
  <% @latest.each do |shop| %>
    <a href="http://localhost:3000/coffee_shops/<%= shop.id %>">
      <div class="featured">
        <img src="<%= shop.image %>" class="featured-img">
        <h2 class="featured-name"></h2>
        <h3 class="featured-address"><%= shop.address %></h3>
      </div>
    </a>
  <% end %>
</div>


<!-- 
    <form class="coffee_shop_search" id="coffee_shop_search" action="/search" accept-charset="UTF-8" method="get">
      <input type="search" name="q[address]" id="q_address" />
      <input type="submit" name="commit" value="Search" />
    </form> -->
