
<div id="search">
  <%= form_tag("/search", method: :get) do %>
    <%= label_tag(:q, "Search for great Coffee!") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <%= label_tag %>
  <% end %>
</div>


<!-- 
    <form class="coffee_shop_search" id="coffee_shop_search" action="/search" accept-charset="UTF-8" method="get">
      <input type="search" name="q[address]" id="q_address" />
      <input type="submit" name="commit" value="Search" />
    </form> -->
